  @font-face {
    font-family: "BalsamiqSans";
    src: url(../fonts/BalsamiqSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Spartan";
    src: url(../fonts/Spartan-Medium.ttf);
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "MarvelRegular";
    src: url(../fonts/MarvelRegular-Dj83.ttf);
    font-weight: bold;
    font-style: 700;
  }
  @font-face {
    font-family: "Captainmarvel";
    src: url(../fonts/Captainmarvel-anm9.ttf);
    font-weight: bold;
    font-style: 700;
  }
