.displayNone {
  opacity: 0;
  display: none;
  width: 0%;
}

.opcionCorrecta {
  text-shadow: 0px 0px 5px black;
  background-color: rgb(0, 255, 52);
    color: white;
  font-size: 1.5em;
  @media screen and (max-width: 1000px) {
    font-size: 1.2em;
  }
  @media screen and (max-width: 800px) {
    font-size: 1em;
  }
  &:hover {
    background-color: rgb(22, 161, 0);
    color: white;
  }
}

.opcionIncorrecta {
  text-shadow: 0px 0px 5px black;
  background-color: rgba(255, 0, 0, 0.616);
  color: white;
  font-size: 1.5em;
  @media screen and (max-width: 1000px) {
    font-size: 1.2em;
  }
  @media screen and (max-width: 800px) {
    font-size: 1em;
  }
  &:hover {
    background-color: rgba(168, 0, 0, 0.699);
    color: white;
  }
}

.btnSelected {
  transition: 500ms;
  font-size: 1rem;
  padding: 0.7rem;
  border: 5px solid rgb(38, 0, 255);
  width: 10%;
  border-radius: 44px;
  position: absolute;
  background-color: #060052;
  color: white;
  left: 1%;
  top: 20%;
  @media screen and (max-width: 1050px) {
    font-size: 1.2rem;
    padding: 1rem;
    width: 18%;
    position: relative;
  }
  @media screen and (max-width: 800px) {
    font-size: 1rem;
    padding: 0.8rem;
    width: 20%;
  }
  @media screen and (max-width: 600px) {
    font-size: 0.8rem;
    width: 30%;
  }
}

.buttonSelected:hover {
  border-color: #060052;
  background-color: rgb(38, 0, 255);
}

.opcionSeleccionada {
  background-color: rgb(107, 107, 107);
  color: white;
}
