.displayNone {
  opacity: 0;
  display: none;
}

.fadeShow {
  transition: 300ms;
  opacity: 1;
}

.opcionCorrecta {
  background-color: rgba(104, 202, 6, 0.637);
}

.opcionIncorrecta {
  background-color: rgba(110, 0, 0, 0.61);
}


.btnSelected {
  transition: 500ms;
  font-size: 1rem;
  padding: 0.7rem;
  border: 5px solid rgb(38, 0, 255);
  width: 10%;
  border-radius: 44px;
  position: absolute;
  background-color: #060052;
  color: white;
  left: 1%;
  top: 20%;
  @media screen and (max-width: 1050px) {
    font-size: 1.2rem;
    padding: 1rem;
    width: 18%;
    position: relative;
  }
  @media screen and (max-width: 800px) {
    font-size: 1rem;
    padding: 0.8rem;
    width: 20%;
  }
  @media screen and (max-width: 600px) {
    font-size: 0.8rem;
    width: 30%;
  }
}

.buttonSelected:hover {
  border-color: #060052;
  background-color: rgb(38, 0, 255);
}

.opcionSeleccionada {
  background-color: rgb(107, 107, 107);
  color: white;
}
